{%extends 'base.html'%}

{%block content %}
 
{%for tasks in tasks%}

<div class="card">
    <div class="card-header">
        {{tasks.id}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{tasks.title}}</h5>
      <p class="card-text">{{tasks.description}}</p>
      <a href="{% url 'tasks:task_details' tasks.id %}" class="btn btn-primary">more details</a>
      <br>
      <br>
   
      <a href="{% url 'tasks:create_task' %}" class="btn btn-success">Create</a>
      <a href="{% url 'tasks:delete_task' tasks.id %}" class="btn btn-danger">DELETE</a>
      <a href="{% url 'tasks:update_task' tasks.id %}" class="btn btn-warning">UPDATE</a>
      
    </div>
  </div>

   
{%endfor%}


{%endblock%}